In [1]:
import requests
import pandas as pd
import numpy as np
import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
BoosterVersion = []
PayloadMass = []
Orbit = []
LaunchSite = []
Outcome = []
Flights = []
GridFins = []
Reused = []
Legs = []
LandingPad = []
Block = []
ReusedCount = []
Serial = []
Longitude = []
Latitude = []

def getBoosterVersion(data):
    for x in data['rocket']:
        if x:
            response = requests.get(f"https://api.spacexdata.com/v4/rockets/{x}").json()
            BoosterVersion.append(response['name'])

def getLaunchSite(data):
    for x in data['launchpad']:
        if x:
            response = requests.get(f"https://api.spacexdata.com/v4/launchpads/{x}").json()
            Longitude.append(response['longitude'])
            Latitude.append(response['latitude'])
            LaunchSite.append(response['name'])

def getPayloadData(data):
    for load in data['payloads']:
        if load:
            response = requests.get(f"https://api.spacexdata.com/v4/payloads/{load}").json()
            PayloadMass.append(response.get('mass_kg'))
            Orbit.append(response['orbit'])

def getCoreData(data):
    for core in data['cores']:
        if core['core']:
            response = requests.get(f"https://api.spacexdata.com/v4/cores/{core['core']}").json()
            Block.append(response.get('block'))
            ReusedCount.append(response['reuse_count'])
            Serial.append(response['serial'])
        else:
            Block.append(None)
            ReusedCount.append(None)
            Serial.append(None)
        Outcome.append(f"{core['landing_success']} {core['landing_type']}")
        Flights.append(core['flight'])
        GridFins.append(core['gridfins'])
        Reused.append(core['reused'])
        Legs.append(core['legs'])
        LandingPad.append(core['landpad'])

<h3> Request and parse SpaceX launch data</h3>

In [5]:
spacex_url = "https://api.spacexdata.com/v4/launches/past"
response = requests.get(spacex_url)
data = response.json()
data = pd.json_normalize(data)

# Filter and clean the DataFrame
data = data[['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc']]
data = data[data['cores'].map(len) == 1]
data = data[data['payloads'].map(len) == 1]
data['cores'] = data['cores'].map(lambda x: x[0])
data['payloads'] = data['payloads'].map(lambda x: x[0])
data['date'] = pd.to_datetime(data['date_utc']).dt.date
data = data[data['date'] <= datetime.date(2020, 11, 13)]

# Extract information using helper functions
getBoosterVersion(data)
getLaunchSite(data)
getPayloadData(data)
getCoreData(data)

# Construct the final dataset
launch_dict = {
    'FlightNumber': list(data['flight_number']),
    'Date': list(data['date']),
    'BoosterVersion': BoosterVersion,
    'PayloadMass': PayloadMass,
    'Orbit': Orbit,
    'LaunchSite': LaunchSite,
    'Outcome': Outcome,
    'Flights': Flights,
    'GridFins': GridFins,
    'Reused': Reused,
    'Legs': Legs,
    'LandingPad': LandingPad,
    'Block': Block,
    'ReusedCount': ReusedCount,
    'Serial': Serial,
    'Longitude': Longitude,
    'Latitude': Latitude
}

df = pd.DataFrame(launch_dict)

# Show the summary of the dataframe
print(df.head())

   FlightNumber        Date BoosterVersion  PayloadMass Orbit  \
0             1  2006-03-24       Falcon 1         20.0   LEO
1             2  2007-03-21       Falcon 1          NaN   LEO
2             4  2008-09-28       Falcon 1        165.0   LEO
3             5  2009-07-13       Falcon 1        200.0   LEO
4             6  2010-06-04       Falcon 9          NaN   LEO

        LaunchSite    Outcome  Flights  GridFins  Reused   Legs LandingPad  \
0  Kwajalein Atoll  None None        1     False   False  False       None
1  Kwajalein Atoll  None None        1     False   False  False       None
2  Kwajalein Atoll  None None        1     False   False  False       None
3  Kwajalein Atoll  None None        1     False   False  False       None
4     CCSFS SLC 40  None None        1     False   False  False       None

   Block  ReusedCount    Serial   Longitude   Latitude
0    NaN            0  Merlin1A  167.743129   9.047721
1    NaN            0  Merlin2A  167.743129   9.047721
2    NaN            0  Merlin2C  167.743129   9.047721
3    NaN            0  Merlin3C  167.743129   9.047721
4    1.0            0     B0003  -80.577366  28.561857

<h3> Filter for Falcon 9 launches</h3>

In [6]:
data_falcon9 = df[df['BoosterVersion'] != 'Falcon 1']
data_falcon9.loc[:, 'FlightNumber'] = list(range(1, data_falcon9.shape[0] + 1))

# Check for missing values
print(data_falcon9.isnull().sum())

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        5
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

<h3> Handle missing values</h3>

In [7]:
payload_mass_mean = data_falcon9['PayloadMass'].mean()
data_falcon9['PayloadMass'].replace(np.nan, payload_mass_mean, inplace=True)
print(data_falcon9.isnull().sum())  # Should show zero missing values for PayloadMass

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

/tmp/ipykernel_1240507/1913627481.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_falcon9['PayloadMass'].replace(np.nan, payload_mass_mean, inplace=True)
/tmp/ipykernel_1240507/1913627481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_falcon9['PayloadMass'].replace(np.nan, payload_mass_mean, inplace=True)

<h3> Export to csv</h3>

In [9]:
data_falcon9.to_csv('falcon9_launches.csv', index=False)

In [10]:
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,1,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0003,-80.577366,28.561857
5,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0005,-80.577366,28.561857
6,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0007,-80.577366,28.561857
7,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,None,1.0,0,B1003,-120.610829,34.632093
8,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,86,2020-09-03,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
90,87,2020-10-06,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,13,B1058,-80.603956,28.608058
91,88,2020-10-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
92,89,2020-10-24,Falcon 9,15600.000000,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
93,90,2020-11-05,Falcon 9,3681.000000,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,8,B1062,-80.577366,28.561857

In [11]:
data

,rocket,payloads,launchpad,cores,flight_number,date_utc,date
0,5e9d0d95eda69955f709d1eb,5eb0e4b5b6c3bb0006eeb1e1,5e9e4502f5090995de566f86,"{'core': '5e9e289df35918033d3b2623', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}",1,2006-03-24T22:30:00.000Z,2006-03-24
1,5e9d0d95eda69955f709d1eb,5eb0e4b6b6c3bb0006eeb1e2,5e9e4502f5090995de566f86,"{'core': '5e9e289ef35918416a3b2624', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}",2,2007-03-21T01:10:00.000Z,2007-03-21
3,5e9d0d95eda69955f709d1eb,5eb0e4b7b6c3bb0006eeb1e5,5e9e4502f5090995de566f86,"{'core': '5e9e289ef3591855dc3b2626', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}",4,2008-09-28T23:15:00.000Z,2008-09-28
4,5e9d0d95eda69955f709d1eb,5eb0e4b7b6c3bb0006eeb1e6,5e9e4502f5090995de566f86,"{'core': '5e9e289ef359184f103b2627', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}",5,2009-07-13T03:35:00.000Z,2009-07-13
5,5e9d0d95eda69973a809d1ec,5eb0e4b7b6c3bb0006eeb1e7,5e9e4501f509094ba4566f84,"{'core': '5e9e289ef359185f2b3b2628', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}",6,2010-06-04T18:45:00.000Z,2010-06-04
...,...,...,...,...,...,...,...
101,5e9d0d95eda69973a809d1ec,5ef6a4600059c33cee4a829e,5e9e4502f509094188566f88,"{'core': '5ef670f10059c33cee4a826c', 'flight': 2, 'gridfins': True, 'legs': True, 'reused': True, 'landing_attempt': True, 'landing_success': True, 'landing_type': 'ASDS', 'landpad': '5e9e3032383ecb6bb234e7ca'}",102,2020-09-03T12:46:00.000Z,2020-09-03
102,5e9d0d95eda69973a809d1ec,5ef6a48e0059c33cee4a829f,5e9e4502f509094188566f88,"{'core': '5e9e28a7f3591817f23b2663', 'flight': 3, 'gridfins': True, 'legs': True, 'reused': True, 'landing_attempt': True, 'landing_success': True, 'landing_type': 'ASDS', 'landpad': '5e9e3032383ecb6bb234e7ca'}",103,2020-10-06T11:29:00.000Z,2020-10-06
103,5e9d0d95eda69973a809d1ec,5ef6a4d50059c33cee4a82a1,5e9e4502f509094188566f88,"{'core': '5e9e28a6f35918c0803b265c', 'flight': 6, 'gridfins': True, 'legs': True, 'reused': True, 'landing_attempt': True, 'landing_success': True, 'landing_type': 'ASDS', 'landpad': '5e9e3032383ecb6bb234e7ca'}",104,2020-10-18T12:25:00.000Z,2020-10-18
104,5e9d0d95eda69973a809d1ec,5ef6a4ea0059c33cee4a82a2,5e9e4501f509094ba4566f84,"{'core': '5ef670f10059c33cee4a826c', 'flight': 3, 'gridfins': True, 'legs': True, 'reused': True, 'landing_attempt': True, 'landing_success': True, 'landing_type': 'ASDS', 'landpad': '5e9e3033383ecbb9e534e7cc'}",105,2020-10-24T15:31:00.000Z,2020-10-24
105,5e9d0d95eda69973a809d1ec,5eb0e4d2b6c3bb0006eeb25e,5e9e4501f509094ba4566f84,"{'core': '5f57c5440622a633027900a0', 'flight': 1, 'gridfins': True, 'legs': True, 'reused': False, 'landing_attempt': True, 'landing_success': True, 'landing_type': 'ASDS', 'landpad': '5e9e3032383ecb6bb234e7ca'}",106,2020-11-05T23:24:00.000Z,2020-11-05

In [12]:
!pip3 install beautifulsoup4
!pip3 install requests

import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (from beautifulsoup4) (2.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (from requests) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/igwn-py310-20240410/lib/python3.10/site-packages (from requests) (2024.2.2)

<h3> Helper functions</h3>

In [13]:
def date_time(table_cells):
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    out = ''.join([booster_version for i, booster_version in enumerate(table_cells.strings) if i % 2 == 0][0:-1])
    return out

def landing_status(table_cells):
    out = [i for i in table_cells.strings][0]
    return out

def get_mass(table_cells):
    mass = unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass = mass[0:mass.find("kg")+2]
    else:
        new_mass = 0
    return new_mass

def extract_column_from_header(row):
    if row.br:
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

<h3> Request the Falcon 9 Launch Wiki Page </h3>

In [14]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"
response = requests.get(static_url)
soup = BeautifulSoup(response.text, 'html.parser')

# Verify if the BeautifulSoup object was created properly
print(soup.title)

<title>List of Falcon 9 and Falcon Heavy launches - Wikipedia</title>

<h3> Extract column names </h3>

In [15]:
html_tables = soup.find_all('table', "wikitable plainrowheaders collapsible")
first_launch_table = html_tables[2]

column_names = []
for row in first_launch_table.find_all('th'):
    col_name = extract_column_from_header(row)
    if col_name is not None and len(col_name) > 0:
        column_names.append(col_name)

print(column_names)

['Flight No.', 'Date and time ( )', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome']

<h3> Create a DataFrame </h3>

In [17]:
launch_dict = dict.fromkeys(column_names)
launch_dict['Flight No.'] = []
launch_dict['Date'] = []
launch_dict['Time'] = []
launch_dict['Version Booster'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
launch_dict['Booster landing'] = []

extracted_row = 0

for table_number, table in enumerate(soup.find_all('table', "wikitable plainrowheaders collapsible")):
    for rows in table.find_all("tr"):
        if rows.th and rows.th.string:
            flight_number = rows.th.string.strip()
            flag = flight_number.isdigit()
        else:
            flag = False
        
        row = rows.find_all('td')
        if flag:
            extracted_row += 1
            launch_dict['Flight No.'].append(flight_number)
            datatimelist = date_time(row[0])
            launch_dict['Date'].append(datatimelist[0].strip(','))
            launch_dict['Time'].append(datatimelist[1])
            bv = booster_version(row[1])
            if not bv:
                bv = row[1].a.string
            launch_dict['Version Booster'].append(bv)
            launch_dict['Launch site'].append(row[2].a.string)
            launch_dict['Payload'].append(row[3].a.string)
            launch_dict['Payload mass'].append(get_mass(row[4]))
            launch_dict['Orbit'].append(row[5].a.string)
            # launch_dict['Customer'].append(row[6].a.string)
            launch_dict['Launch outcome'].append(list(row[7].strings)[0])
            launch_dict['Booster landing'].append(landing_status(row[8]))

df = pd.DataFrame({key: pd.Series(value) for key, value in launch_dict.items()})
print(df.head())

  Flight No. Date and time ( ) Launch site  \
0          1               NaN       CCAFS
1          2               NaN       CCAFS
2          3               NaN       CCAFS
3          4               NaN       CCAFS
4          5               NaN       CCAFS

                                Payload Payload mass Orbit Customer  \
0  Dragon Spacecraft Qualification Unit            0   LEO      NaN
1                                Dragon            0   LEO      NaN
2                                Dragon       525 kg   LEO      NaN
3                          SpaceX CRS-1     4,700 kg   LEO      NaN
4                          SpaceX CRS-2     4,877 kg   LEO      NaN

  Launch outcome             Date   Time Version Booster Booster landing
0      Success\n      4 June 2010  18:45  F9 v1.0B0003.1         Failure
1        Success  8 December 2010  15:43  F9 v1.0B0004.1         Failure
2        Success      22 May 2012  07:44  F9 v1.0B0005.1    No attempt\n
3      Success\n   8 October 2012  00:35  F9 v1.0B0006.1      No attempt
4      Success\n     1 March 2013  15:10  F9 v1.0B0007.1    No attempt\n

In [18]:
df

,Flight No.,Date and time ( ),Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Date,Time,Version Booster,Booster landing
0,1,NaN,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,NaN,Success\n,4 June 2010,18:45,F9 v1.0B0003.1,Failure
1,2,NaN,CCAFS,Dragon,0,LEO,NaN,Success,8 December 2010,15:43,F9 v1.0B0004.1,Failure
2,3,NaN,CCAFS,Dragon,525 kg,LEO,NaN,Success,22 May 2012,07:44,F9 v1.0B0005.1,No attempt\n
3,4,NaN,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NaN,Success\n,8 October 2012,00:35,F9 v1.0B0006.1,No attempt
4,5,NaN,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NaN,Success\n,1 March 2013,15:10,F9 v1.0B0007.1,No attempt\n
...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,NaN,CCSFS,Starlink,"15,600 kg",LEO,NaN,Success\n,9 May 2021,06:42,F9 B5B1051.10,Success
117,118,NaN,KSC,Starlink,"~14,000 kg",LEO,NaN,Success\n,15 May 2021,22:56,F9 B5B1058.8,Success
118,119,NaN,CCSFS,Starlink,"15,600 kg",LEO,NaN,Success\n,26 May 2021,18:59,F9 B5B1063.2,Success
119,120,NaN,KSC,SpaceX CRS-22,"3,328 kg",LEO,NaN,Success\n,3 June 2021,17:29,F9 B5B1067.1,Success
120,121,NaN,CCSFS,SXM-8,"7,000 kg",GTO,NaN,Success\n,6 June 2021,04:26,F9 B5,Success

<h1> Data Wrangling with SpaceX Falcon 9 data</h1>

In [19]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
print(df.head(10))

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40
5             6  2014-01-06       Falcon 9  3325.000000   GTO  CCAFS SLC 40
6             7  2014-04-18       Falcon 9  2296.000000   ISS  CCAFS SLC 40
7             8  2014-07-14       Falcon 9  1316.000000   LEO  CCAFS SLC 40
8             9  2014-08-05       Falcon 9  4535.000000   GTO  CCAFS SLC 40
9            10  2014-09-07       Falcon 9  4428.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0
5    None None        1     False   False  False        NaN    1.0
6   True Ocean        1     False   False   True        NaN    1.0
7   True Ocean        1     False   False   True        NaN    1.0
8    None None        1     False   False  False        NaN    1.0
9    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude
0            0  B0003  -80.577366  28.561857
1            0  B0005  -80.577366  28.561857
2            0  B0007  -80.577366  28.561857
3            0  B1003 -120.610829  34.632093
4            0  B1004  -80.577366  28.561857
5            0  B1005  -80.577366  28.561857
6            0  B1006  -80.577366  28.561857
7            0  B1007  -80.577366  28.561857
8            0  B1008  -80.577366  28.561857
9            0  B1011  -80.577366  28.561857

In [20]:
missing_values = df.isnull().sum() / len(df) * 100
print(missing_values)

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [21]:
print(df.dtypes)

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [22]:
launch_site_counts = df['LaunchSite'].value_counts()
print(launch_site_counts)

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [23]:
orbit_counts = df['Orbit'].value_counts()
print(orbit_counts)

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

In [24]:
landing_outcomes = df['Outcome'].value_counts()
print(landing_outcomes)

for i, outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64
0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [25]:
bad_outcomes = set(landing_outcomes.keys()[[1, 3, 5, 6, 7]])
print(bad_outcomes)

{'False Ocean', 'False ASDS', 'None None', 'None ASDS', 'False RTLS'}

In [26]:
landing_class = [1 if outcome not in bad_outcomes else 0 for outcome in df['Outcome']]
df['Class'] = landing_class

print(df[['Class']].head(8))
print(df.head(5))

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1
   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude  Class
0            0  B0003  -80.577366  28.561857      0
1            0  B0005  -80.577366  28.561857      0
2            0  B0007  -80.577366  28.561857      0
3            0  B1003 -120.610829  34.632093      0
4            0  B1004  -80.577366  28.561857      0

In [27]:
success_rate = df['Class'].mean()
print("Success Rate:", success_rate)

Success Rate: 0.6666666666666666

In [28]:
# Identify the outcomes that represent a complete failure to land
failure_outcomes = ["None None", "False RTLS", "False ASDS", "None ASDS", "False Ocean"]

# Count the occurrences of each failure outcome in the Outcome column
complete_failures = df['Outcome'].value_counts().loc[failure_outcomes].sum()
print("Number of complete failure to land outcomes:", complete_failures)

Number of complete failure to land outcomes: 30